.search {
    &__paper {
        padding: 2px 4px;
        display: flex;
        align-items: center;
    }

    &__input {
        flex: 1;
        margin-left: 10px;
        color: currentColor;

        &--error {
            color: #f44336 !important;
        }
    }

    &__iconbtn {
        padding: 10px;
    }

    &__cardContent {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    &__link {
        margin-top: 24px;
        font-size: large;
        color:black;
        text-decoration: none;
        transition: color 0.3s ease-out;

        &:hover {
            color: #3f51b5;
            transition: color 0.3s ease-out;
        }
    }

}
